---
import Layout from '../layouts/Layout.astro';
import FigureCollageApp from '../components/FigureCollageApp.jsx';
---

<Layout title="科研论文拼图工具">
	<main>
		<FigureCollageApp client:load />
	</main>
</Layout>